#hd .container {
  padding: 0 20px;
}
#hd .container .gnb {
  margin-left: 16px;
}
@media (max-width: 768px) {
  #hd .container .gnb {
    margin-left: 14px;
  }
}
#hd .container .gnb li {
  margin-left: 26px;
}
#hd .container .gnb li a {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}
#hd .container .promotion_gnb {
  margin-left: 16px;
  margin-right: auto;
}
#hd .container .promotion_gnb li {
  margin-left: 26px;
}
#hd .container .promotion_gnb li a {
  color: #888888;
  font-weight: 500;
}
#hd .container .icon_menu li {
  margin-left: 16px;
}
#hd .container .icon_menu li svg {
  width: 20px;
  color: #888888;
}
#hd .container .icon_menu li .search_form {
  background-color: #eee;
  border-radius: 18px;
  padding: 5px 12px;
}
#hd .container .icon_menu li .search_form input {
  border: 0;
  background-color: transparent;
  font-size: 13px;
}
#hd .container .icon_menu li .search_form input::-moz-placeholder {
  color: #888888;
}
#hd .container .icon_menu li .search_form input::placeholder {
  color: #888888;
}
#hd .container .icon_menu li .search_form button {
  padding: 0;
  border: 0;
}